/.idea/
/src/pyonics/submodules/ui/vosk-model-pt-fb-v0.1.1-pruned/
/src/pyonics/submodules/ui/vosk-model-small-en-us-0.15/
/src/pyonics/submodules/ui/vosk-model-small-en-us-0.15-OLD/
/dist/
/testenv/
__pycache__/
*.pyc
*.pyo
*.pyd